/*@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Unbounded');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Inter';
    /*font-family: 'Unbounded';*/
    /*font-family: 'Unbounded', cursive;*/
}

a:hover,button:hover { text-decoration:none; color: inherit; }

a:hover, button:hover{
    /*display: none;*/
}

.btn-outline {
    @apply uppercase;
    background: transparent;
    border-radius: 24px;
    font-weight: 600;
    font-size: 14px;
    padding: 11px 30px;
}

.btn {
    @apply uppercase;
    border-radius: 24px;
    font-weight: 600;
    font-size: 14px;
    padding: 11px 30px;
}

/*  */

body.auth {
    @apply flex w-full h-full justify-center items-center bg-dark;
    /* background: #1e1e1e; */
}

section.auth-bg {
    @apply flex h-full justify-center items-center;
    /* width: 1000px !important; */
}

div.auth-bg {
    @apply flex flex-col w-full;
    padding-top: 40px;
    row-gap: 76px;

    /* max-width: 1000px; */
}

body.auth div.header {
    @apply flex justify-between w-full items-center;
    min-width: 800px;
}

.header-logo {
    @apply flex justify-center items-center;
}

.logo-image {
    /*width: 50px;*/
    /*height: 50px;*/
    /*background: #d9d9d9;*/
    width: 91px;
    height: 30px;
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 118.5%;
    color: #FFFFFF;
}

.logo-image span{
    color: #0BBDC8;
}

body.auth .header-title {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #ffffff;
}

.header-links {
    @apply flex justify-center items-center;
}

.header-links .btn-outline {
    color: #f5f5f5;
    border: 1px solid #0bbdc8;
}

section.auth-form {
    @apply bg-silver relative;
    border: 2px solid #000000;
    border-radius: 12px;
    z-index: 100px;
}

section.auth-form .bg-image-right {
    @apply absolute;
    top: -70px;
    right: -225px;
    z-index: -100;
}

section.auth-form .bg-image-left {
    @apply absolute;
    top: 12%;
    left: -220px;
    z-index: -100;
}

@media only screen and (max-width: 1378px) {
    section.auth-form .bg-image-left {
        width: 40%;
    }
    section.auth-form .bg-image-right {
        width: 40%;
    }
}

form.auth-form {
    @apply flex flex-col w-full;
    padding: 50px;
}

.form-title {
    align-self: start;
    font-weight: 600;
    font-size: 20px;
    line-height: 118.5%;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 25px;

}

form.auth-form.login .form-title{
    margin-bottom:5px;
}
.form-content {
    @apply flex w-full justify-between;
    column-gap: 50px;
}

.form-fields {
    @apply flex flex-col justify-center items-center;
    row-gap: 20px;
}

.group-form {
    @apply flex flex-col;
    row-gap: 5px;
}

.group-form label {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    font-family: 'Inter';
    font-style: normal;
    margin-bottom: 0 !important;
}

.group-form .form-control {
    background: #f5f5f5;
    border: 1px solid #000000;
    border-radius: 7px;
    width: 360px;
    height: 50px;
}
*,
::before,
::after {
}

input.form-control:focus,
input.form-control:active,
input.form-control:hover {
    /* @apply border border-solid border-primary; */
    border: 1px solid #0bbdc8 !important;
}

.form-cta {
    @apply flex flex-col justify-center items-center;
    background: #0bbdc8;
    border: 1px solid #000000;
    border-radius: 12px;
    color: white;
    row-gap: 40px;
    padding: 190px 60px 144px 60px;
}

.cta-titles {
    @apply flex flex-col justify-center items-center;
    row-gap: 10px;
}

.cta-titles h1 {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

.cta-titles p {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.cta-action {
    @apply flex flex-col justify-center items-center;
    row-gap: 10px;
}

.cta-action p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: rgba(255, 255, 255, 0.54);
}

.cta-action a {
    border: 1px solid white;
    padding: 11px 40px;
}

div.submit{
    align-self: start;
}

button.submit {
    margin-top: 20px;
    background: #0bbdc8;
    border: 1px solid #000000;
    border-radius: 47px;
    color: white;
    padding: 14px 16px;
}

form.auth-form.login button.submit {
    margin-top: 5px;
    padding: 14px 38px;
}
/**/

body.landing-page {
    background: #f5f5f5;
    @apply w-full;
    /*overflow: hidden;*/
}

.landing-page section#header {
    @apply bg-dark w-full;
    border-radius: 0px 0px 30px 30px;
}

.landing-page div.header {
    padding: 36px 125px;
    @apply flex flex-col items-center;
}

div.header .nav {
    @apply flex items-center justify-between w-full;
}

div.header .header-links,
.footer .header-links {
    @apply flex items-center justify-center;
    column-gap: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #f5f5f5;
}

nav.nav a.try-now,
.footer a.try-now {
    @apply flex items-center justify-center;
    border: 1px solid #0bbdc8;
    border-radius: 24px;
    padding: 11px 36px;
    font-weight: 600;
    font-size: 14px;
    line-height: 118.5%;
    color: #f5f5f5;
}

div.header-cta {
    @apply flex flex-col justify-center items-center relative;
    padding-top: 178px;
    padding-bottom: 163px;
    max-width: 749px;
    row-gap: 30px;
    text-align: center;
}

.header-cta-bg {
    @apply absolute;
    /*width: 200px;*/
    /*height: 200px;*/
    top: -150px;
    right: -140px;
    /*right: 0px;*/
    /*z-index: -100;*/
}

div.header-cta h1 {
    @apply relative;
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 600;
    font-size: 63px;
    line-height: 118.5%;
    text-transform: uppercase;
    color: #f5f5f5;
}

div.header-cta p {
    max-width: 433px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 118.5%;
    color: #f5f5f5;
}

div.header-cta a {
    @apply uppercase;
    background: #0bbdc8;
    border-radius: 35px;
    padding: 16px 62px;
    color: #f5f5f5;
    font-weight: 600;
    font-size: 16px;
}

section#about {
    background: #f5f5f5;
    padding: 60px 85px;
}

div.about {
    border: 2px solid #0a0a0a;
    border-radius: 12px;
}

div.about-content {
    @apply flex;
    padding: 60px 65px;
}
div.about-title {
    @apply flex flex-col;
    row-gap: 15px;
    width: 50%;
    padding-bottom: 300px;
}

div.about-title h2 {
    font-weight: 400;
    font-size: 25px;
    line-height: 118.5%;
    /* identical to box height, or 30px */

    text-transform: uppercase;

    color: #0a0a0a;
}

div.about-title h1 {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 118.5%;
    color: #0a0a0a;
}

div.about-desc {
    @apply flex flex-col;
    align-self: end;
    row-gap: 28px;
    width: 50%;
}

div.about-desc p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 118.5%;
    /* or 24px */

    color: #0a0a0a;
}

div.about-desc a {
    border: 1px solid #0bbdc8;
    border-radius: 35px;
    font-weight: 600;
    font-size: 16px;
    line-height: 118.5%;
    color: #0a0a0a;
    padding: 16px 62px;
}

section.services {
    @apply w-full;
    margin-top: 65px;
    margin-bottom: 65px;
    @apply flex flex-col items-center justify-center;
}

div.services {
    @apply flex flex-col;
    row-gap: 40px;
    width: 1141px;
}

div.services h1 {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 118.5%;
    color: #0a0a0a;
}

div.services-list {
    @apply grid;
    /* grid-template-columns: 50% 50%; */
    /* grid-template-rows: 50% 50%; */

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 50px;
    column-gap: 39px;
}

div.services-list div {
    @apply flex flex-col;
    border-radius: 10px;
    padding: 20px;
    row-gap: 15px;
}

div.services-list h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 118.5%;
    text-transform: uppercase;
}

div.services-list p {
    font-weight: 400;
    font-size: 16px;
    line-height: 118.5%;
    max-width: 344px;
}

div.services-list div:nth-child(1) {
    @apply bg-dark;
    color: #f5f5f5;
    border: 2px solid #0bbdc8;
    grid-column-start: 1;
    grid-column-end: 1;
    padding-bottom: 120px;
}

div.services-list div:nth-child(2) {
    background: #f5f5f5;
    border: 2px solid #0a0a0a;
    color: #0bbdc8;
    grid-row-start: 2;
    grid-row-end: 2;
    padding-bottom: 120px;
}

div.services-list div:nth-child(3) {
    @apply h-full;
    color: #0a0a0a;
    background: #0bbdc8;
    border: 2px solid #0a0a0a;
    grid-row: span 2;
}

section#team {
    @apply flex  w-full items-center justify-center;
    /* margin: 65px 205px; */
}

div.team {
    @apply flex flex-col;
    width: 1141px;
    row-gap: 40px;

    /* background: red; */
}

div.team-titles {
    @apply flex flex-col;
    row-gap: 25px;
    width: 570px;
}

div.team-titles h3 {
    font-weight: 400;
    font-size: 25px;
    line-height: 118.5%;
    text-transform: uppercase;
    color: #0a0a0a;
}
div.team-titles p {
    font-weight: 400;
    font-size: 18px;
    line-height: 118.5%;
    color: #0a0a0a;
}

div.team-members {
    @apply flex flex-wrap;
    row-gap: 44px;
    column-gap: 50px;
}

div.team-member {
    @apply flex flex-col;
    border: 2px solid #0a0a0a;
    border-radius: 12px;
    height: 273px;
    width: 347px;
    padding: 18px 20px;
    row-gap: 65px;
}

div.member-pic {
    @apply flex;
}

.member-img {
    width: 120px;
    height: 120px;
    background: #d9d9d9;
    border-radius: 13px;
}

.member-titles {
    @apply flex flex-col;
    row-gap: 5px;
}
.member-titles h3 {
    font-weight: 700;
    font-size: 15px;
    line-height: 118.5%;
    color: #0bbdc8;
}
.member-titles p {
    font-weight: 400;
    font-size: 15px;
    line-height: 118.5%;
    color: #0a0a0a;
    font-style: normal;
}

section#contact {
    margin: 150px;
}

div.contact {
    @apply flex relative flex-col justify-center items-center;
}

div.contact-bg-gradient {
    /*overflow: hidden;*/
    @apply absolute;
    top: -70px;
    left: 55%;
    width: 600px;
    height: 300px;
    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(11, 189, 200, 0.8) 0%,
        rgba(234, 234, 234, 0) 100%
    );
    transform: rotate(135.92deg);
}

div.contact h3 {
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 118.5%;
    text-align: center;
    margin-bottom: 45px;
    color: #0a0a0a;
}

div.contact a {
    background: rgba(245, 245, 245, 0.42);
    border: 1px solid #0a0a0a;
    border-radius: 73px;
    font-weight: 500;
    font-size: 20px;
    line-height: 118.5%;
    text-align: center;
    /* text-decoration-line: underline; */
    color: #0a0a0a;
    padding: 10px 14px;
}

div.contact a div {
    border: 1px solid #0a0a0a;
}

section#footer {
    /*overflow: hidden;*/

    /*z-index: 100px;*/
    @apply flex  w-full items-center justify-center bg-dark;
    height: 100px;
}

.footer {
    @apply flex justify-between;
    width: 1141px;
}



.form-control.is-invalid {
    border-color: #e3342f !important;
}
 .invalid-feedback{
    font-size: 14px !important;
    font-family: 'Inter' !important;
}


.profile-header{
    @apply flex flex-col justify-center items-center;
}

.profile-form{
    padding: 30px;
}

.profile-header h2{
    font-weight: 700;
    font-size: 35px;
    line-height: 118.5%;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 6px;
}

.profile-header p.desc{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 15px;

}

.profile-header p.message{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #0BBDC8;
}

.profile-form .group-form label{
    margin-bottom: 5px !important;
}

.profile-form .group-form{
    margin-bottom: 22px;
}

.profile-footer{
    @apply flex flex-col justify-center items-center;
}

.profile-footer a{
    background: #0BBDC8;
    border: 1px solid #000000;
    border-radius: 47px;
    color: white;
}

body.result{
    @apply flex w-full;
}

section.results{
    @apply flex w-full;
}

.results .left{
    @apply flex flex-col bg-dark;
    width: 31%;
    padding: 30px 50px;
}

.results .header-logo{
    @apply justify-start;
}

div.account{
    margin-top: 31px;
    background: #F5F5F5;
    border: 1px solid #FFFFFF;
    border-radius: 7px;
    padding: 15px;
    margin-bottom: 20px;
}

.account-pic img{
    background: #F5F5F5;
    border: 1px solid #000000;
    border-radius: 100%;
}

.info{
    @apply flex flex-col;
    margin-top: 12px;
    row-gap: 5px;
}

.info-item{
    @apply flex justify-between items-center;
}

.info-item h4{
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #0A0A0A;
}

.info-item:first-child h5{
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    color: #0A0A0A;
}


.info-item:nth-child(2) h5{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #0BBDC8;
}

.details-box{
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px 30px 30px 30px;
}

.details-header{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.details-items{
    @apply flex flex-col;
    row-gap: 13px;
}

.details-item{
    @apply flex justify-between items-center;
}

.details-item h5{
    font-weight: 400;
    font-size: 15px;
    line-height: 109.52%;
    color: rgba(255, 255, 255, 0.6);
}

.details-item h6{
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #0BBDC8;
}

.details-new a{
    margin-top: 20px;
    padding: 10px 15px;
    background: #0BBDC8;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    color: white;
}

div.logout{
    margin-top: 30px;
}

a.logout{
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    font-weight: 600;
    font-size: 14px;
    line-height: 118.5%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
}

.results .right{
    @apply flex flex-col;
    width: 69%;
    background-color: #F5F5F5;
    padding: 25px 50px;
}

div.top{
    @apply flex justify-between items-center;
    margin-bottom: 24px;
}

div.top h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

div.top a{
    font-weight: 700;
    color: #000000;
    border: 1px solid #0BBDC8;
    border-radius: 24px;
    padding: 11px 34px;
}

div.result-inputs{
    @apply flex;
    column-gap: 18px;
}

div.trading-bots{
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 12px;
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 118.5%;
    color: #000000;
}

div.trading-bots span{
    color:  #0BBDC8;

}

div.risk-profile{
    @apply flex flex-col;
    row-gap: 10px;
}

div.risk-profile label{
    font-weight: 700;
    font-size: 15px;
    line-height: 118.5%;
    text-transform: uppercase;
    color: #000000;

}

div.risk-profile select{
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 7px;
    width: 335px;
    height: 40px;
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.3);
}


div.charts{
    margin-top: 20px;
    @apply flex;
    column-gap: 18px;
}

div.charts div{
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 7px;
    height: 350px;
}

div.charts div:first-child{
    width: 45%;
}
div.charts div:nth-child(2){
    width: 55%;
}


div.charts2{
    @apply flex justify-center items-center;
    border-radius: 7px;
    margin-top: 20px;
    background: #FFFFFF;
    border: 1px solid #000000;
    height: 430px;
}

.charts2 img{
    height: 400px;
    width: 100%;
}
